
@charset "UTF-8";
html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
body {
  line-height: 1.15;
  background-color: #f6f6f6;
  height: 100%;
  overflow: hidden;
  color: #333;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  user-select: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 0.01rem dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 0.01rem solid #c0c0c0;
  margin: 0 0.02rem;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
ul,
ol {
  list-style: none outside none;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 200px;
}
body {
  font-size: 0.14rem;
  -webkit-text-size-adjust: 100%;
}
.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
}
.vflex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.flex0 {
  flex: 0;
  -webkit-flex: 0;
  -webkit-box-flex: 0;
}
.flex1 {
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
}
.flex2 {
  flex: 2;
  -webkit-flex: 2;
  -webkit-box-flex: 2;
}
.flex3 {
  flex: 3;
  -webkit-flex: 3;
  -webkit-box-flex: 3;
}
.flex4 {
  flex: 4;
  -webkit-flex: 4;
  -webkit-box-flex: 4;
}
.flex5 {
  flex: 5;
  -webkit-flex: 5;
  -webkit-box-flex: 5;
}
.flex6 {
  flex: 6;
  -webkit-flex: 6;
  -webkit-box-flex: 6;
}
.center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
@font-face {
  font-family: 'fontello';
  src: url(/assets/font/fontello.eot);
  src: url(/assets/font/fontello.eot) format("embedded-opentype"), url(/assets/font/fontello.woff2) format("woff2"), url(/assets/font/fontello.woff) format("woff"), url(/assets/font/fontello.ttf) format("truetype"), url(/assets/font/fontello.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?47926212#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-refresh:before {
  content: '\E800';
}

/* '' */
.icon-packup:before {
  content: '\E801';
}

/* '' */
.icon-meal:before {
  content: '\E802';
}

/* '' */
.icon-close:before {
  content: '\E803';
}

/* '' */
.icon-subtract:before {
  content: '\E804';
}

/* '' */
.icon-done:before {
  content: '\E805';
}

/* '' */
.icon-warn1:before {
  content: '\E806';
}

/* '' */
.icon-add:before {
  content: '\E807';
}

/* '' */
.icon-5wei:before {
  content: '\E808';
}

/* '' */
.icon-right-arrow:before {
  content: '\E809';
}

/* '' */
.icon-sellout:before {
  content: '\E80A';
}

/* '' */
.icon-done1:before {
  content: '\E80B';
}

/* '' */
.icon-remove:before {
  content: '\E80C';
}

/* '' */
.icon-down-arrow:before {
  content: '\E80D';
}

/* '' */
.icon-up-arrow:before {
  content: '\E80E';
}

/* '' */
.icon-grade3:before {
  content: '\E80F';
}

/* '' */
.icon-grade2:before {
  content: '\E810';
}

/* '' */
.icon-grade1:before {
  content: '\E811';
}

/* '' */
.icon-upload:before {
  content: '\E812';
}

/* '' */
.icon-warn:before {
  content: '\E813';
}

/* '' */
.icon-down-arrow1:before {
  content: '\E814';
}

/* '' */
.icon-send:before {
  content: '\E815';
}

/* '' */
.icon-lock:before {
  content: '\E816';
}

/* '' */
.icon-icon1:before {
  content: '\E817';
}

/* '' */
.icon-icon2:before {
  content: '\E818';
}

/* '' */
.icon-bulb:before {
  content: '\E819';
}

/* '' */
.icon-logo:before {
  content: '\E81A';
}

/* '' */
.icon-close1:before {
  content: '\E81B';
}

/* '' */
.icon-talk:before {
  content: '\E81C';
}

/* '' */
.icon-shop:before {
  content: '\E81D';
}

/* '' */
.icon-bag:before {
  content: '\E81E';
}

/* '' */
.icon-alarm:before {
  content: '\E81F';
}

/* '' */
.icon-bowl:before {
  content: '\E820';
}

/* '' */
.icon-delete:before {
  content: '\E821';
}

/* '' */
.icon-list:before {
  content: '\E822';
}

/* '' */
.icon-location:before {
  content: '\E823';
}

/* '' */
.icon-cart:before {
  content: '\E824';
}

/* '' */
.icon-pepper:before {
  content: '\E825';
}

/* '' */
.icon-remove2:before {
  content: '\E826';
}

/* '' */
.icon-back:before {
  content: '\E827';
}

/* '' */
.icon-forward:before {
  content: '\E828';
}

/* '' */
.icon-volume:before {
  content: '\E829';
}

/* '' */
.icon-dish:before {
  content: '\E82A';
}

/* '' */
.icon-class:before {
  content: '\E82B';
}

/* '' */
.icon-points16:before {
  content: '\E82C';
}

/* '' */
.icon-dustbin:before {
  content: '\E82D';
}

/* '' */
.icon-alarm1:before {
  content: '\E82E';
}

/* '' */
.icon-sta-time:before {
  content: '\E82F';
}

/* '' */
.icon-loading:before {
  content: '\E830';
}

/* '' */
.icon-bars:before {
  content: '\E831';
}

/* '' */
.icon-users:before {
  content: '\E832';
}

/* '' */
.icon-motor-move:before {
  content: '\E833';
}

/* '' */
.icon-search:before {
  content: '\E834';
}

/* '' */
.icon-jian:before {
  content: '\E835';
}

/* '' */
.icon-pig:before {
  content: '\E836';
}

/* '' */
.icon-calculator:before {
  content: '\E837';
}

/* '' */
.icon-zhe:before {
  content: '\E838';
}

/* '' */
.icon-new:before {
  content: '\E839';
}

/* '' */
.icon-wechat:before {
  content: '\E83A';
}

/* '' */
.icon-buy:before {
  content: '\E83B';
}

/* '' */
.icon-tian:before {
  content: '\E83C';
}

/* '' */
.icon-vegetable:before {
  content: '\E83D';
}

/* '' */
.icon-managelist:before {
  content: '\E83E';
}

/* '' */
.icon-dishclock:before {
  content: '\E83F';
}

/* '' */
.icon-bulb1:before {
  content: '\E840';
}

/* '' */
.icon-add1:before {
  content: '\E841';
}

/* '' */
.icon-orderclock:before {
  content: '\E842';
}

/* '' */
.icon-courseclock:before {
  content: '\E843';
}

/* '' */
.icon-edit:before {
  content: '\E844';
}

/* '' */
.icon-hui:before {
  content: '\E845';
}

/* '' */
.icon-motor:before {
  content: '\E846';
}

/* '' */
.icon-home:before {
  content: '\E847';
}

/* '' */
.icon-checked1:before {
  content: '\E848';
}

/* '' */
.icon-meal1:before {
  content: '\E849';
}

/* '' */
.icon-phone:before {
  content: '\E84A';
}

/* '' */
.icon-location1:before {
  content: '\E84B';
}

/* '' */
.icon-store:before {
  content: '\E84C';
}

/* '' */
.icon-phone1:before {
  content: '\E84D';
}

/* '' */
.icon-menu:before {
  content: '\E84E';
}

/* '' */
.icon-cancel:before {
  content: '\E84F';
}

/* '' */
.icon-time:before {
  content: '\E850';
}

/* '' */
.icon-money:before {
  content: '\E851';
}

/* '' */
.icon-await:before {
  content: '\E852';
}

/* '' */
.icon-cart2:before {
  content: '\E853';
}

/* '' */
.icon-delete-2:before {
  content: '\E854';
}

/* '' */
.icon-campaign:before {
  content: '\E855';
}

/* '' */
.icon-member:before {
  content: '\E856';
}

/* '' */
.icon-exchange:before {
  content: '\E857';
}

/* '' */
.icon-exchange1:before {
  content: '\E858';
}

/* '' */
.icon-question:before {
  content: '\E859';
}

/* '' */
.icon-coupon:before {
  content: '\E85A';
}

/* '' */
.icon-success:before {
  content: '\E85B';
}

/* '' */
.icon-info:before {
  content: '\E85C';
}

/* '' */
.icon-success2:before {
  content: '\E85D';
}

/* '' */
#app {
  width: 100%;
  height: 100%;
}
.shop {
  width: 100%;
  height: 100%;
}
.head {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 0.15rem 0.1rem 0.05rem 0.15rem;
  border-bottom: 0.01rem solid #ddd;
  box-shadow: 0 0.01rem 0 0 rgba(0, 0, 0, 0.06);
}
.head .bg {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: blur(0.15rem);
  filter: blur(0.15rem);
  z-index: -1;
}
.head .content .header {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.05rem;
  overflow: hidden;
  z-index: 1;
  background: #fff;
  padding: 0.04rem;
}
.head .content .header img {
  border-radius: 50%;
}
.head .content .info {
  padding: 0 0.1rem;
}
.head .content .info .title {
  font-size: 0.2rem;
  margin-bottom: 0.05rem;
}
.head .content .info .detail {
  font-size: 0.12rem;
  margin-bottom: 0.02rem;
}
.head .content .love .collect {
  background: #ff6666;
  width: 0.8rem;
  height: 0.25rem;
  line-height: 0.28rem;
  border-radius: 0.3rem;
  color: #fff;
}
.head .content .love .collect.no-collect {
  background: #ddd;
  color: #333;
}
.head .content .love .people {
  font-size: 0.12rem;
  margin-top: 0.06rem;
}
.head .activity {
  margin-top: 0.1rem;
}
.head .activity .volume {
  position: relative;
  left: -0.1rem;
  top: -0.01rem;
  font-size: 0.18rem;
  color: #ff6666;
}
.head .activity ul li .title {
  background: #ff6666;
  border-radius: 0.02rem;
  padding: 0.02rem;
  color: #fff;
  font-size: 0.12rem;
}
.head .activity .more {
  position: relative;
  top: 0.04rem;
  font-size: 0.12rem;
}
.head .activity .more span {
  position: relative;
  left: 0.24rem;
}
.head .activity .more .arrow {
  position: relative;
  font-size: 0.12rem;
}
.head .activity .more .arrow-first {
  left: 0.2rem;
}
.head .activity .more .arrow-last {
  right: -0.04rem;
}
.search {
  background: #eee;
  padding: 0.05rem 0.1rem;
  position: relative;
  box-shadow: 0 0.01rem 0 0 rgba(0, 0, 0, 0.06);
}
.search .search-icon {
  position: absolute;
  left: 0.15rem;
  top: 0.12rem;
  color: #ccc;
}
.search .search-box {
  height: 0.3rem;
  line-height: 0.3rem;
  padding-left: 0.3rem;
  border-radius: 0.04rem;
  border: none;
  outline: none;
}
.tab {
  background: #fff;
  box-shadow: 0 0.01rem 0 0 rgba(0, 0, 0, 0.06);
}
.tab .sub-tab {
  padding: 0.1rem;
  text-align: center;
  position: relative;
}
.tab .sub-tab.active {
  color: #ff6666;
  font-weight: bold;
}
.tab .sub-tab.active:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -25%;
  content: '';
  width: 50%;
  height: 0.02rem;
  background: #ff6666;
}
.home[data-v-df878bca] {
  margin-top: 0.01rem;
}
.home .combo .block .title[data-v-df878bca] {
  background: #ffcccc;
  padding: 0.02rem;
  text-align: center;
}
.goods[data-v-4ec9d94a] {
  margin-top: 0.01rem;
}
.category[data-v-2b6949f8] {
  width: 0.85rem;
  border-right: 0.01rem solid #eee;
}
.category.block[data-v-2b6949f8] {
  padding-bottom: 0.45rem;
}
.category .sub-category[data-v-2b6949f8] {
  border-bottom: 1px solid #eee;
  padding: 0.15rem 0;
  text-align: center;
}
.category .sub-category.active[data-v-2b6949f8] {
  background: #fff;
  color: #ff6666;
}
.goods-list.block[data-v-432715ed] {
  padding-bottom: 0.45rem;
}
.goods-list .group .title[data-v-432715ed] {
  background: #f6f6f6;
  padding: 0.08rem 0.1rem;
}
.goods-list .group .list[data-v-432715ed] {
  background: #fff;
}
.goods-list .group .list .group-item[data-v-432715ed] {
  padding: 0.1rem;
}
.goods-list .group .list .group-item .img[data-v-432715ed] {
  width: 0.6rem;
  height: 0.6rem;
}
.goods-list .group .list .group-item .content[data-v-432715ed] {
  position: relative;
  padding-left: 0.1rem;
}
.goods-list .group .list .group-item .content .name[data-v-432715ed] {
  font-size: 0.16rem;
  margin-bottom: 0.05rem;
}
.goods-list .group .list .group-item .content .detail[data-v-432715ed] {
  font-size: 0.12rem;
  color: #ccc;
  margin-bottom: 0.05rem;
}
.goods-list .group .list .group-item .content .price[data-v-432715ed] {
  color: #ff6666;
  font-size: 0.2rem;
}
.goods-list .group .list .group-item .content .price span[data-v-432715ed] {
  font-size: 0.12rem;
}
.goods-list .group .list .group-item .content .select[data-v-432715ed] {
  position: absolute;
  right: 0;
  bottom: 0;
}
.goods-list .alert[data-v-432715ed] {
  padding: 0.1rem;
  text-align: center;
  font-size: 0.12rem;
  color: #aaa;
}
.picker[data-v-ec3b003a] {
  width: 0.75rem;
  height: 0.25rem;
  line-height: 0.25rem;
}
.picker .circular[data-v-ec3b003a] {
  width: 0.25rem;
  height: 0.25rem;
  line-height: 0.23rem;
  text-align: center;
  border: 0.01rem solid #ffcccc;
  border-radius: 50%;
  background: #ff6666;
  position: relative;
}
.picker .circular .circular-btn[data-v-ec3b003a] {
  display: inline-block;
  width: 200%;
  height: 200%;
  position: absolute;
  left: -50%;
  top: -50%;
}
.picker .circular i[data-v-ec3b003a] {
  color: #fff;
  font-weight: bold;
}
.svg .ico-wrap[data-v-2484b058] {
  position: fixed;
  left: 0.4rem;
  bottom: 0.2rem;
  -webkit-transition: all 0.3s cubic-bezier(0.49, -0.29, 0.75, 0.41);
  transition: all 0.3s cubic-bezier(0.49, -0.29, 0.75, 0.41);
}
.svg .ico-wrap .ico[data-v-2484b058] {
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: #ff6666;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.store[data-v-60837d55] {
  background: #fff;
  margin: 0.1rem;
  border-radius: 0.02rem;
  box-shadow: 0 0.01rem 0 0 rgba(0, 0, 0, 0.06);
  position: relative;
  padding: 0.2rem;
}
.store .store-info[data-v-60837d55] {
  position: relative;
  z-index: 1;
  padding-bottom: 0.2rem;
}
.store .store-info label[data-v-60837d55] {
  display: inline-block;
  width: 1rem;
  min-width: 1rem;
  line-height: 1.5em;
}
.store .store-info label i[data-v-60837d55] {
  position: relative;
  left: -0.05rem;
  color: #ff6666;
}
.store .store-info span[data-v-60837d55] {
  line-height: 1.5em;
}
.cart-wrap[data-v-5a23a423] {
  position: relative;
  left: 0;
  top: 0;
}
.cart[data-v-5a23a423] {
  width: 100%;
  height: 0.45rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 502;
}
.cart .price-info[data-v-5a23a423] {
  line-height: 0.35rem;
}
.cart .price-info .circle[data-v-5a23a423] {
  position: relative;
  left: 0.08rem;
  top: -0.08rem;
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
  background: #009966;
  border-radius: 50%;
}
.cart .price-info .circle i[data-v-5a23a423] {
  color: #fff;
  font-size: 0.24rem;
}
.cart .price-info .circle .number[data-v-5a23a423] {
  position: absolute;
  right: -0.04rem;
  top: -0.04rem;
  width: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: center;
  background: #ff6666;
  border-radius: 50%;
  color: #fff;
}
.cart .price-info .total[data-v-5a23a423] {
  margin-left: 0.2rem;
}
.cart .price-info .total .price[data-v-5a23a423] {
  color: #ff6666;
  font-size: 0.24rem;
  position: relative;
  top: 0.02rem;
  left: 0.04rem;
}
.cart .settle[data-v-5a23a423] {
  width: 1.2rem;
  line-height: 0.44rem;
  text-align: center;
  background: #ff6666;
  color: #fff;
}
.pop[data-v-2cb645e7] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.pop .mask[data-v-2cb645e7] {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
}
.fade-enter-active[data-v-2cb645e7],
.fade-leave-active[data-v-2cb645e7] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.fade-enter[data-v-2cb645e7],
.fade-leave-to[data-v-2cb645e7] {
  opacity: 0;
}
.cart-detail {
  width: 100%;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  background: #fff;
  position: absolute;
  top: -0.45rem;
  z-index: 501;
  border-top: 0.01rem solid #eee;
  border-bottom: 0.01rem solid #eee;
}
.cart-detail .head-top {
  padding: 0.1rem;
  border-bottom: 0.01rem solid #f6f6f6;
}
.cart-detail .head-top .cart-line {
  position: relative;
  padding-left: 0.1rem;
}
.cart-detail .head-top .cart-line:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.05rem;
  height: 100%;
  background: #ff6666;
  content: '';
}
.cart-detail .detail {
  padding: 0 0.1rem;
  max-height: 3rem;
}
.cart-detail .detail .group {
  padding: 0.15rem 0.1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  border-bottom: 0.01rem solid #f6f6f6;
}
.cart-detail .detail .group:last-child {
  border-bottom: none;
}
.cart-detail .detail .group .price {
  color: #ff6666;
  font-size: 0.2rem;
}
.trans-enter-active,
.trans-leave-active {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.trans-enter,
.trans-leave-to {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}